.ViewPage-Heading {
  font-size: 32px;
  font-weight: 700;
  margin: 64px 32px 32px;
  max-width: calc(100% - 320px);
}

.ViewPage-Description {
  font-weight: 500;
  margin: 32px;
  max-width: calc(100% - 320px);
}
