.ViewCollectionItem {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  height: 320px;
  cursor: pointer;
  transition: box-shadow 250ms ease;
}

.ViewCollectionItem:hover,
.ViewCollectionItem:focus,
.ViewCollectionItem:active {
  box-shadow: rgb(31 31 31 / 16%) 0px 3px 10px, rgb(31 31 31 / 23%) 0px 3px 10px;
}

.ViewCollectionItem-Background {
  height: 150px;
}

.ViewCollectionItem-Name {
  font-size: 24px;
  font-weight: 500;
  margin: 0 8px;
}

.ViewCollectionItem-Partner {
  margin: 0 8px;
}

.ViewCollectionItem-Spacer {
  flex-grow: 1;
}

.ViewCollectionItem-Tag {
  align-self: flex-start;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 8px 8px;
  padding: 4px 8px;
  color: white;
  order: 1;
}
